<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <!--<link rel="stylesheet" href="css/app.css">-->
    <link rel="stylesheet" type="text/css" href="/styles/register.css">
  </head>
  <body>
    <div class="title-bar2">
      <div>
        <a href="/homeUser"><img style="width:30px;" src="/styles/home1.png"></img></a>
      </div>
      <center>
        <a class="tit2" href="/admin">ADMIN CENTER</a>
      </center>
    </div>
    <br/><br/><br/>
    <form id="addTopic" action="/deleteTopic" method="post">
      <div class="row">
        <div class="medium-12 columns">
          <label>Topic name
            <input type="text" id="Topic" name="Topicid">
          </label>
        </div>
      </div>

      <div style="text-align: center;">
        <button type="submit">Delete Topic</button>
      </div>
    </form>
    <form id="addTopic" action="/deleteQuestion" method="post">
      <div class="row">
        <div class="medium-12 columns">
          <label>Question id
            <input type="text" id="Question" name="id">
          </label>
        </div>
      </div>

      <div style="text-align: center;">
        <button type="submit">Delete Question</button>
      </div>
    </form>
    <br/><br/><br/>
    <div class="expanded button-group">
      <a href="/rmAllt" type="button" class="hollow admin button">Delete All topics</a>
      <a href="/rmAllq" type="button" class="hollow admin button">Delete All Questions</a>
    </div>
  </body>
