<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <!--<link rel="stylesheet" href="css/app.css">-->
    <link rel="stylesheet" type="text/css" href="/styles/register.css">
  </head>
  <body>
    <div class="title-bar2">
      <div>
        <a href="/admin"><img style="width:30px;" src="/styles/home1.png"></img></a>
      </div>
      <center>
        <a class="tit2" href="/admin">ADMIN CENTER</a>
      </center>
    </div>
    <ul class="menu expanded">
      <li class="m-exp"><a class="m-as" href="/add">Add Topic/Question</a></li>
      <li class="m-exp" disabled><a class="m-as" href="/upd">Update Topic/Question</a></li>
      <li class="m-exp"><a  class="m-as" href="/seet">See All topics</a></li>
      <li class="m-exp"><a class="m-as" href="/seeq">See All Questions</a></li>
      <li class="m-exp"><a class="m-as" href="/rm">Delete Topic/Question</a></li>
    </ul>
    <br/><br/>
<%if ( topicList.length > 0) { %>
    <form action="/deleteTopic" method="post">
      <div class="row">
        <div class="medium-12 columns">
          <label>Topic name
            <select name="name">
              <% for ( topicname of topicList){%>
              <option value= '<%= topicname %>'>
                <%= topicname %>
              </option>
              <% } %>
            </select>
          </label>
        </div>
      </div>
      <div style="text-align: center;">
        <button type="submit">Delete Topic</button>
      </div>
      </form>
<% } %>
<%if ( questionList.length > 0) { %>
    <form action="/deleteQuestion" method="post">
      <div class="row">
        <div class="medium-12 columns">
          <label>Question
            <select name="question">
              <% for ( questiontext of questionList){%>
              <option value= '<%= questiontext %>'>
                <%= questiontext %>
              </option>
              <% } %>
            </select>
          </label>
        </div>
      </div>
      <div style="text-align: center;">
        <button type="submit">Delete Question</button>
      </div>
    </form>
<% } else {%>
  <p> You can't delete something that does not exist</p>
<% } %>
    <br/><br/><br/>
    <div class="expanded button-group">
      <%if ( topicList.length > 0) { %>
      <a href="/rmAllt" type="button" class="hollow admin button">Delete All topics</a>
      <% } %>
      <%if ( questionList.length > 0) { %>
      <a href="/rmAllq" type="button" class="hollow admin button">Delete All Questions</a>
      <% } %>
    </div>
  </body>
