<head>
  <link rel="stylesheet" type="text/css" href="/styles/compugopts.css">
</head>
<body>
  <div id="top">
    <strong>COMPUTER GAME</strong>
  </div>
  <br/><br/><br/>
  <div id="text-select">
    <strong>SELECT THE DIFFICULTY:</strong>
  </div>
  <div id="game-options">
    <a class="button primary expanded" href="#">Rookie</a>
    <br/>
    <a class="button success expanded" href="#">Normal</a>
    <br/>
    <a class="button warning expanded" href="#">Pro</a>
    <br/>
    <a class="button alert expanded" href="#">Mortal</a>
  </div>
</body>
