<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <!--<link rel="stylesheet" href="css/app.css">-->
    <link rel="stylesheet" type="text/css" href="/styles/home.css">
  </head>
  <body>
    <div class="title-bar">
      <a class="tit" href="/homeUser">PREGUNTADOS</a>
    </div>
    <br/><br/><br/>
    <div class="row">
      <div class="medium-6 columns">
        <div class="card">
          <center>
            <div class="card-section">
              <img  style="width:70%;" src="/styles/login.png">
            </div>
            <div style="background-color: crimson;" class="card-section">
              <a href="/login">Login</a>
            </div>
          </center>
        </div>
      </div>
      <div class="medium-6 columns">
        <div class="card">
          <center>
            <div class="card-section">
              <img  style="width:70%;" src="/styles/register.jpg">
            </div>
            <div style="background-color: crimson;" class="card-section">
              <a href="/registerUsu">Register a new user</a>
            </div>
          </center>
        </div>
      </div>
    </div>

    <!--<script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/what-input/dist/what-input.js"></script>
    <script src="bower_components/foundation-sites/dist/js/foundation.js"></script>
    <script src="js/app.js"></script>-->
  </body>
