<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <!--<link rel="stylesheet" href="css/app.css">-->
    <link rel="stylesheet" type="text/css" href="/styles/register.css">
  </head>
  <body>
    <div class="title-bar2">
      <div>
        <a href="/homeUser"><img style="width:30px;" src="/styles/home1.png"></img></a>
      </div>
      <center>
        <a class="tit2" href="/registerUsu">REGISTER</a>
      </center>
    </div>
    <br/><br/><br/>
    <form id="formu">
      <div class="row">
        <div class="medium-12 columns">
          <label>User Name
            <input type="text" id="nom">
          </label>
        </div>
      </div>
      <div class="row">
          <div class="medium-12 columns">
            <label>Email
              <input type="text" id="mail">
            </label>
          </div>
      </div>
      <div class="row">
          <div class="medium-12 columns">
            <label>Password
              <input type="password" id="pass">
            </label>
          </div>
      </div>
      <div style="text-align: center;">
        <button type="submit">Register User</button>
      </dive>
    </form>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type='text/javascript' src='/js/crear.js'></script>
  </body>
