<head>
  <link rel="stylesheet" type="text/css" href="/styles/wlogin.css">
</head>
<body id="body">
  <div class="error">
    <div>
      <strong>Update function is not available yet.</strong>
    </div>
    <br/>
    <img src="/styles/warning.png"/>
    <br/><br/><br/>
    <a href="/admin"><button id="again" type="button" class="button warning">Return</button></a>
  </div>
</body>
