<head>
  <link rel="stylesheet" type="text/css" href="/styles/wlogin.css">
</head>
<body id="body">
  <div class="error">
    <div>
      <strong>Something was wrong!!</strong>
      <br/><br/>
      <div style="width: 60%; margin-left: 20%; font-size: 20px;">
        What could it be?<br/><br/>
        *No user email registered<br/>
        *Incorrect password
      </div>
    </div>
    <br/>
    <img src="/styles/warning.png"/>
    <br/><br/><br/>
    <a href="/login"><button id="again" type="button" class="button warning">Try Again</button></a>
  </div>
</body>
