.title-bar2{
  background-color: crimson;
  width: 100%;
  padding: 1.5%;
}
.tit2{
  font-size: 30px;
  font-family: verdana;
  font-weight: 900;
  letter-spacing: 5px;
}
.card{
  border: 5px solid crimson;
}
a{
  color: white;
  text-decoration: none;
  font-family: verdana;
  font-size: 30px;
}
form{
  background-color: moccasin;
  padding: 3%;
  padding-left: 10%;
  padding-right: 10%;
}
button{
  background-color: crimson;
  color: white;
  padding: 1%;
}
